.detail-nav {
    margin-top: 22px;
}

.detail-title {
    text-align: center;
    margin-bottom: 30px;
}

.detail-title div{
    font-size:14px;
}

h2 {
}

p {
    margin-bottom: 18px;
    margin:5px 0;
    font-size:14px;
}

.qrcodeContainer{
    position: fixed;
    right: 10px;
    top: 75px;
    text-align:center;
    font-size:14px;
    letter-spacing:4px; 
    z-index: 999;  
}
.qrcodeContainer div:first-child{
    background-color:#07a0e1;
    color:white;
}
 
