.record {
    border: 1px solid #e1e4e8;
    margin-bottom: 18px;
    /* line-height: 30px; */
    padding: 16px;
    border-radius: 3px;
    display: inline-block;
    width: 360px;
    height: 63px;
    vertical-align: top;    
}

    .record:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border:1px solid #FF5800;
        cursor:pointer;
    }
    
.record a,.record a:hover{
    color:black;
}

.indexcontainer {    
}

    .indexcontainer .date {
        font-size: 12px;
    }

.newflag img {
    height: 25px;
    vertical-align: middle;
    margin-bottom: 3px;
    display: inline-block;
}
