.record {
    border: 1px solid #fff;
    margin-bottom: 18px;
    /* line-height: 30px; */
    padding: 16px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    height: 63px;
    vertical-align: top;    
    text-align:left;
    color:black;
    background:#fff;
}

    .record:hover {
           -webkit-box-shadow:0 0px 10px rgba(18,18,18,.1);
    box-shadow:0 0px 10px rgba(18,18,18,.1);
        cursor:pointer;
         color:black;
    }   

.indexcontainer {    
}

    .indexcontainer .date {
        font-size: 12px;
    }

.newflag img {
    height: 25px;
    vertical-align: middle;
    margin-bottom: 3px;
    display: inline-block;
}

.content{
    margin-top:59px;
    text-align: inherit;
    padding-top:40px;
}