.record{
    border-bottom:1px solid gray;
    margin-bottom:30px;
    height:30px;
    line-height:30px;
    padding:5px;
}

.record:hover{
    background-color:lightseagreen;
}

.indexcontainer{
    margin-top:30px;
}

.indexcontainer .date{
    float:right;
    font-size:14px;
}
