@model Blog.Models.Article
@{
    ViewBag.Title = Model.Title;
    string backUrl = Request.UrlReferrer != null ? Request.UrlReferrer.OriginalString : "/";
}

@section header{
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/prettify/r298/prettify.min.css">
    <style>
        .detail-nav {
            margin-top: 22px;
        }

        .detail-title {
            text-align: center;
            margin-bottom: 30px;
        }

        h2 {
        }

        p {
            margin-bottom: 30px;
        }
    </style>
}

<div class="detail-nav">
    <a href="@backUrl">返回</a>
</div>

@if (Model == null)
{
    <h2>文章不存在</h2>
}
else
{
    <div class="detail-title">
        <h2>@Model.Title</h2>
        <div>@Model.DisplayCreatedTime</div>
    </div>
    <div>
        @Html.Raw(Model.Content.Replace("<p><br/></p>", ""))
    </div>
}

@section footer{
    <script type="text/javascript" src='http://cdn.bootcss.com/prettify/r298/prettify.min.js'></script>
    <script type="text/javascript" src='~/Scripts/prettify.load.js'></script>
}