@{
    ViewBag.Title = "总结";
}

@section header{
    <style>
        .container {
            background: white;
        }

        .content {
            padding-top: 5px;
        }

            .content h2 {
                font-size: 20px !important;
                line-height: 0.8;
            }

            .content h3 {
                font-size: 19px !important;
                line-height: 0.8;
            }

            .content h4 {
                font-size: 17px !important;
                line-height: 0.8;
            }

            .content h5 {
                font-size: 16px !important;
                line-height: 0.8;
            }

            .content p {
                font-size:14px;
            }
            .content a {
                color:#4183c4;
            }
    </style>
}

<div class="content">
    <h2>说明</h2>
    <p>这里是对所有文章的一个总结，将相关的归集到一起，方便快速查找和学习。</p>

    <h2>数据库访问</h2>
    <p>任何项目基本都会用到数据库的访问</p>
    <ul>
        <li><a href="" target="_blank">sxxx</a></li>
        <li><a href="" target="_blank">sxxx</a></li>
    </ul>
</div>