
@{
    ViewBag.Title = "Login";
}

<style>
    .lgContainer {
        text-align: center;
    }

    .lgContent {
        margin: 100px auto;
        text-align: left;
        width: 331px;
        background-color:#9d8ecd;
        padding: 2px 20px 20px 20px;
        border-radius:10px;
    }

        .lgContent span {
            display: block;
            margin-bottom: 2px;
        }

    .lg-row {
        height: 60px;
    }

    .info {
        color: white;
        margin-bottom: 10px;
    }

    input {
        outline: none;
        border: 1px solid gray;
        height: 33px;
        line-height:33px;
        padding: 2px 5px;
        border-radius: 2px;
        width: 100%;
        box-sizing: border-box;
    }

        input:focus {
            border: 1px solid #38f;
        }

    .codeInput {
        width: 64%;
    }

    img {
        vertical-align: middle;
        cursor: pointer;
        height:31px;
        box-sizing:border-box;
    }

    button {
        margin-top: 20px;
        outline: none;
        border: 1px solid #38f;
        height: 34px;
        padding: 2px;
        width: 100%;
        color: white;
        background-color: #38f;
        cursor:pointer;
    }

        button:hover {
            background-color: #538dde;
        }
</style>




@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "", @class = "", role = "form" }))
{
    <input type="hidden" name="tmpToken" />

    @Html.AntiForgeryToken()
    <div class="lgContainer">
        <div class="lgContent">
            <h2 style="text-align:center;">登录</h2>
            @if (!string.IsNullOrEmpty(ViewBag.Msg))
            {
                <div class="info">@ViewBag.Msg</div>
            }
            <div class="lg-row">
                <span><label for="email">邮箱</label></span>
                <input type="text" id="email" name="email" value="@ViewBag.Email" />
            </div>
            <div class="lg-row">
                <span><label for="password">密码</label></span>
                <input type="password" class="form-control" id="password" />
                <input type="hidden" name="password" />
            </div>
            <div class="lg-row">
                <span><label for="validateCode">验证码</label></span>
                <input type="text" class="codeInput" id="validateCode" name="validateCode" />
                <img alt="刷新验证码！" src="~/verify_code.ashx" onclick="this.src=this.src+'?'" />
            </div>
            <button type="button" class="btn btn-default" onclick="login()">登  录</button>
        </div>
    </div>
}

@section footer{
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/rsa/js")

    <script>
        function login() {
            var pwd = $("#password").val();
            var result = RSAClient.Encryt([pwd]);

            $("input[name=tmpToken]").val(result.tmpToken);
            $("input[name=password]").val(result.encryptData[0]);

            $("form").submit();
        }

        $("body").keydown(function () {
            if (event.keyCode == "13") {//keyCode=13是回车键
                login();
            };
        });
        //var data={usercode:'abc',username:'de'};
        //$.post('http://localhost:32311/api/user/Add', data, function (d) {
        //    console.log(d);
        //});
    </script>
}
